 body {
     background-color: blue;
 }
 
 h1 {
     text-align: center;
 }
 
 form {
     text-align: center;
 }
 
 button {
     background-color: black;
     width: 100px;
     height: 30px;
     border: none;
     color: white;
     font-size: 17px;
     border-radius: 10px;
 }